*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none
}

h1{
    text-align: center;
}
.card{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid .2rem #0d6efd;
    padding: .1rem .1rem;
    margin: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    color: #0d6efd;
}

.card a{
    color: white;
    background-color: #0d6efd;;
}